@import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
}

.header {
  position: sticky;
  top: 0;
  height: 220px;
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

img {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 180px;
  width: 200px;
}

body {
  font-family: Arial;
  margin: 0;
}

.authenticated {
  display: none;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

#post-create {
  justify-content: right;
}

.footer {
  font-size: 12px;
  padding: 20px;
  text-align: center;
  background: #ddd;
}

legend {
  font-size: 24px;
}
